/* general
*/
html {
  scroll-behavior: smooth;
  transition: 10s ease;
}


.hov1:hover {
  background: #40bad5;
}
body { padding-top: 70px;
 }

ul {
  list-style-type: '✨ ';
}

/*navbar
*/
.top {
background: linear-gradient(90deg, #0570A6 1%, #fff 27%, #fff 73%, #0570A6 99%);

}

/* .overlaybgimg{
  background-image: url("billiardpic1.jpg");
} */


.iconimg {
  width: 3rem;
  margin-left: 1rem;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  padding-left: 50px;
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  margin-right: 20px;
}

.navbar {
  background: linear-gradient(60deg, #FEE743 1%, #783EE4 5%, #783EE4 95%, #FEE743 99%);
  padding: 0 0 1rem;
  color: white;
}

.n1 {
  color: #f1d1d1;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.dropdown-menu{
  width: 250px;
  height: 180px;
}
.dropdown-item{
  height: 60px;
  font-size: 1.5rem;
}

.dropdown-item:hover {
  background-color: #bd83ce;
}

.navmenu{
  padding-top: 9px;
  margin-right: 80px;
}




/* top-part tagline and overlay image */
.tagline {
  font-size: 5.5rem;
  text-align: center;
  font-style: italic;
  color: #FE3F8C;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
  /* text-shadow: 5px 5px 20px #0570A6; */
}
.multicolortext {
        background-image: linear-gradient(to right, black, black, green, black, green, black, black, black);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;

      }

.container {
  position: relative;
  width: 100%;

}

.image {
  margin: 100px auto 50px;
  display: block;
  width: 100%;
  height: 600px;
  border-radius: 100%;
  border: 10px solid #FE3F8C;
}

.overlay {

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(60deg, #FEE743 15%, #7D42EC 35%, #7D42EC 65%, #FEE743 90%);
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 100%;
  transition: .9s ease;
  border: 10px solid #FE3F8C;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  margin-top: 140px;
  white-space: nowrap;
  color: black;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  overflow: hidden;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul.lead {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 500;
}


/*
=============
link stylings for see all products link
=============
*/

.overlay-link {
  color: #14F56C;
  font-family: cursive;
  font-weight: bold;

}

.overlay-link:hover {
  color: #fff;
  text-decoration: none;
}

a.middle, h1.middle {
  position: relative;
}

a.middle:before, h1.middle:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before, h1.middle:hover:before{
  visibility: visible;
  transform: scaleX(1);
}





/*
==========
3 products and button
==========
*/

.prods{
  background-color: #F4297B;

}


.prod2{
  margin-left: 150px;
}

.img2{
  margin-right: 100px;
}

.img{
display: block;
width:250px;
height: 250px;
border-radius: 100%;
margin: 50px auto;
border: 4px solid black;
}

.prods .lead{
  font-size: 2rem;
  margin: 80px auto 50px 20px;
  font-family: 'Flamenco', cursive;
  font-weight: 600;
  line-height: 3rem;

}

.btn1{
  display: block;
  text-align: center;
  margin: 50px auto auto;
}


.logos{
  text-align: center;
}

.logopic{
  width: 105px;
  height: 105px;
  border-radius: 100%;
  margin: 50px 40px 150px;
}



/* reviews */

.review{
  background: linear-gradient(90deg, #0570A6 1%, #fff 27%, #fff 73%, #0570A6 99%);
}

.review::before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 75px;
  visibility: hidden;
  pointer-events: none;
}

.reviewline{
  display: block;
  width: 50%;
  padding: 30px 0 0;
margin: auto auto -50px;
text-align: center;
font-family: Montserrat;
font-weight: 700;
font-size: 3rem;
color: black;
line-height: 4rem;
}

.carousel-item{
    padding: 7% 25%;
}

.carousel-control-prev{
  margin-left: 200px;
  filter: invert(100%);
}

.carousel-control-next{
  margin-right: 200px;
  filter: invert(100%);
}


/* footer */

.footer {
  background: linear-gradient(90deg, #F4297B 1%, #F7C3D8 40%, #F7C3D8 60%, #F4297B 99%);
  font-family: cursive;
  font-weight: 100;
  font-size: 1.5rem;
  padding: 3% 15% 1%;
  text-align: center;
}



.soc-icon{
  margin: 0 30px 0 80px;
  width: 4%;
}

.copyr{
  margin: 40px 0;
}




/* contact page */

.con{
  text-align: center;
  padding: 10px 100px 100px;
  height: 40.7rem;
  line-height: 4rem;
  background: linear-gradient(120deg, #F24D90 1%, #F7C3D8 20%, #F7C3D8 80%, #F24D90 99%);
  font-size: 2rem;
}

.soc-icon2{
  margin: 0 30px 0 30px;
  width: 4%;
}

.locbtn{
  animation: tada;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: 4;
  margin-bottom: 20px;
}

.bouncetext{
  animation-delay: 1s;
}











/* Product Page */


.card{
  margin: 0 auto 150px;
}

.pbg{
  background: linear-gradient(90deg, #E2B1FD 1%, #fff 30%, #fff 70%, #E2B1FD 99%);
  padding-top: 100px;
  padding-bottom: 70px;
}

.card{
  align-items: center;
}

.r1i1{
  width: 490px;
  height: 500px;
}

.r1i2{
width: 490px;
height: 500px;
}

.r2i1{
width: 800px;
}

.r3i1{
width: 500px;
height: 450px;
}

.r3i2{
width: 500px;
height: 450px;
}

.r4i1{
width: 800px;
height: 480px;
}

.r5i1{
width: 500px;
height: 450px;
}

.r5i2{
  width: 500px;
  height: 450px;

}

.lastbtn{
animation: tada;
animation-duration: 2.5s;
animation-iteration-count: infinite;
margin-left: 20px;
font-size: 2.3rem;
}

.lasth1{
  text-align: center;
  font-size: 3rem;
  font-family: 'Flamenco', cursive;
  font-weight: bolder;
}

.card-title{
  font-size: 1.8rem;
  margin: 10px 0 30px;
}

.card{
  border-image: linear-gradient(45deg, #65009F, #41F7FE, #9403E6);
  border-width: 10px;
  border-image-slice: 1;
}

.card-text{
  font-size: 1.2rem;
}


.multicolortext2 {
        background-image: linear-gradient(30deg, #0335F9, #9503F9, #0335F9, black, #9503F9, black, #9503F9, #0335F9);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;

}
